.hero-bg {
  background-image: url('./assets/bg-elipse.png'), url('./assets/bg-elipse1.png'), url('./assets/bg-elipse2.png'), url('./assets/bg-elipse3.png');
  background-position: 90% 40%, 5% 76%, 90% 75%, 70% 100%;
  background-repeat: no-repeat;
}
